<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwe1QKnv7Cku26fgQ3G-fPmQs6YPyqnJc</string>
	<key>GCM_SENDER_ID</key>
	<string>953629414819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marine.seahandbook</string>
	<key>PROJECT_ID</key>
	<string>sea-handbook</string>
	<key>STORAGE_BUCKET</key>
	<string>sea-handbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953629414819:ios:b60d4eb8370ad241e0f616</string>
</dict>
</plist>